.circle-anim{
    animation:round 15s linear infinite
}

@keyframes round {
    0%{
        transform: rotate(0deg);
    }
    100%{
transform: rotate(360deg);
    }
}
.circle-anim-left{
    animation:round 10s linear infinite
}

@keyframes round {
    0%{
        transform: rotate(0deg);
    }
    100%{
transform: rotate(360deg);
    }
}